# Copy this file to .env only when you need to override defaults.
POSTGRES_DB=metastore
POSTGRES_USER=hive
POSTGRES_PASSWORD=hive

HIVE_JDBC_PORT=10000
NAMENODE_UI_PORT=9870
SPARK_UI_PORT=4040
SPARK_DRIVER_MEMORY=2g
